* {
    box-sizing: border-box;   
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    max-width: 1380px;
    margin: 0 auto;
}
/* header */

.container {
    margin-top: 40px;
    overflow-y: hidden;
    overflow-x: hidden;
}
header {
    display: flex;
    height: 90px;
    align-items: center;
    justify-content: space-between;
    background-color: #FAFAFA;
    border-radius: 70px;
    padding: 0px 30px;
}
nav {
    display: flex;
    align-items: center;
}
nav ul {
    display: flex;
    list-style: none;
    width: 571px;
    min-height: 60px;
    border-radius: 40px;
    justify-content: space-around;
    align-items: center;
    background-color: #FEFEFF;
}
.services {
    width: 141px;
    /* height: 19px; */
    margin-left: 100px;
    margin-right: 20px;   
}
.contact-button {
    width: 158px;
    height: 60px;
    border-radius: 40px;
    border:1px solid gray;
    background-color: #FEFEFF;
}
.hamburger {
    padding-left: 10px;
    display: none;
}

/* section one */

.one {
    background: linear-gradient(90deg, #C1DEE8 0%, #FBD9B9 100%);   
    min-height: 100px;
    border-radius: 15px;
    display: flex;
    margin-top: 30px;
    align-items: center;
    justify-content: space-between;
}
.card {
    margin-left: 30px;
    
    
}
.card1 {
    max-width: 790px;
   
}
.card1 img {
    width: 100%;
}
.card .welcome {
    line-height: 120%;
}
.card h1 {
    width: 550px;
    font-weight: 600;
    font-size: 67px;
    line-height: 120%;
}
.card p {
    margin-top: 30px;
    width: 500px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
}
.input-field {  
    position: relative;
    margin-bottom: 30px;
}
.input-field input {
    border: none;
    border-radius: 40px;
    width: 438px;
    padding: 17px;
}
.get-btn {
    position: absolute;
    top: 0px;
    left: 300px;
}

/* section two */

.two p {
    width: 218px;
    height: 19px;
    text-align: center;
    margin-top: 100px;
}
.two h1 {
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
}
.three {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    justify-content: space-around;
    
}
.three .card {
    width: 329px;
    height: 250px;
    margin: 0px;
}
.three h1 {
    padding-left: 0px;
    font-size: 28px;
    font-weight: 600;
    margin: 15px 0px;
}
.three p {
    width: 329px;
    /* height: 72px; */
    padding-left: 0px;
}
.four {
    margin-top: 140px;
}
.four h1{
    font-size: 50px;
    font-weight: 600;
}
.five {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
     
    margin-top: 60px;
    row-gap: 10px;
    column-gap: 10px;
}
.five h1 {
    font-size: 21px;
    font-weight: 600px;
    margin: 15px 0px 15px 10px;
}
.five p {
    width: 329px;
    /* height: 48px; */
    line-height: 24px;
    margin: 15px 0px 0px 10px;

}
.stars {
    margin-left: 10px;
    padding-top: 15px;
}
.starfill {
    color: #F59914;
}
.starcavity {
    color: #9B9B9B;

}
.stars span {
    margin-left: 10px;
}
.five .card {
    border: 1px solid #BEBEBE;
    width: 447px;
    /* height: 438px; */
    border-radius: 14px;
    margin: 0px;
}
.six h1 {
    width: 785px;
    /* height: 120px; */
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    margin-top: 80px;
}
.seven {
    display:flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    margin: 76px 0px 0px 70px;
}
.seven h1 {
    font-size: 38px;
    font-weight: 600;
    margin: 20px 0px;
}

.seven p {
    width: 474px;
    margin: 30px 0px 40px 0px;
}
.seven div {
    margin: 0px;
}
.plus{
    display: flex;
    column-gap: 40px;
}
.plus h1 {
    width: 100px;
    font-weight: 600;
    font-size: 67px;
    margin: 0px;

}
.plus p {
    width: 100px;
    margin: 0px;
}
.std {
    padding-left: 25px;
}
.seven button {
    width: 153px;
    height: 60px;
    border-radius: 40px;
    padding-top: 15px 35px ;
    gap: 10px;
}
.img7 {
    max-width: 550px;
}
.img7 img {
    width: 100%;
}
.black-btn {
    background-color: #1F1F1F;
    color: white;
    border: 1px solid #1F1F1F;
    margin: 0px 20px 50px 0px;
}
.white-btn {
    background-color: white;
    border: 1px solid #BEBEBE;
}



/* media  */
@media only screen and (max-width: 1375px){
    .four h1 {
        text-align: center;
    }
    .four p {
        text-align: center;
    }
}


@media only screen and (max-width: 1130px){
    .one {
        flex-wrap: wrap-reverse;
    }
    .one .card {
        margin: 0 auto;
    }
    nav{
        display: none;
    }
    .hamburger{
        display: block;
    }
    .hamburger i {
        display: block;
    }
    .seven{ 
        justify-content: center;
    }
}
@media only screen and (max-width: 802px){
    .two h1 {
        width: 550px;
    }
    .six h1 {
        width: 580px;
    }
}
@media only screen and (max-width: 770px) {
     .one .card {
        text-align: center;
     }
     .get-btn {
        right: 10px;
     }
} 
/* @media only screen and (max-width: 727px){
     .plus {
       flex-direction: column;
    }
} */